/* ===== FONTS ===== */
@font-face {
    font-family: "Open Sans";
    src: url("fonts/OpenSans-Medium.ttf");
}

/* ===== GENERAL ===== */
body {
    font-family: Comic Sans MS, "Open Sans", Verdana, sans-serif;
    font-size: 16px;
    background-color: rgb(180, 205, 225);
    color: #ff0;
    padding: 0;
    margin: 0;
    background-image: url("media/background.jpg");
    background-size: cover;
    background-attachment: fixed;
}

h1, h2, h3, p {
    margin: 8px 0;
}

.spacer {
    height: 20px;
}

.logo {
    margin: 0;
    max-width: 400px;
    height: auto;
}

button {
    cursor: pointer;
    font: inherit;
    margin: 0px 0px;
    padding: 4px 8px;
    border: 1px solid #ff0;
    color: #ff0;
    background: none;
    transition-duration: 200ms;
}

button:hover {
    background: #ff0;
    color: #f0f;
}

.name_field, .balance_field {
    font: inherit;
    width: 250px;
    margin: 8px 0;
    border: 1px solid #ff0;
    color: #ff0;
    padding: 4px;
    overflow-x: scroll;
    overflow-y: hidden;
    background: none;
}

.content_container {
    width: 800px;
    padding: 24px;
    margin: 100px auto;
    background: #f0f9;
    box-shadow: 3px 3px 5px #ff07;
}

/* ===== Navbar ===== */

.navbar {
    padding: 8px;
    margin: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 998;
    background: rgba(40,45,60,0.7);
    color: white;
    box-shadow: 0px 3px 5px rgba(0,0,0,0.5);
}

.navbar_item {
    display: inline-block;
    margin: 4px 0px 4px 12px;
    padding: 6px 10px;
    color: white;
    background: none;
    border: 1px solid rgba(0,0,0,0);
    transition-duration: 200ms;
}

.navbar_item:hover {
    background: white;
    color: black;
    border: 1px solid white;
}

/* ===== User preview cards ===== */

.userpreview_container {
    width: 100%;
    margin: 0 0 24px 0;
    padding: 0;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 100px auto;
    word-wrap: break-word;
    overflow-wrap: anywhere;
    overflow-y: hidden;
    overflow-x: hidden;
}

.userpreview_content {
    height: 100px;
    box-sizing: border-box;
    padding: 0px 12px;
}

.userpreview_photo {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
}

/* ===== Toast messages ===== */

#TOAST_MESSAGE {
    font: inherit;
    color: white;
    visibility: hidden;
    min-width: 200px;
    position: fixed;
    bottom: 50px;
    left: 50px;
    z-index: 999;
    background: rgba(0, 0, 0, 0.7);
    padding: 8px 12px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
}

#TOAST_MESSAGE.show { visibility: visible; }

#TOAST_MESSAGE.error { background: rgba(125, 0, 0, 0.7)}

.user_balance {
    display: inline-block;
    padding-right: 10px;
    font-weight: bold;
    font-style: italic;
}

/* ===== Labels ===== */
.name_label {
    display: inline-block;
    padding: 0px 12px 0px 0px;
    margin: 0;
    width: 250px;
}

.balance_label {
    display: inline-block;
    padding: 0px 12px 0px 0px;
    margin: 0;
    width: 100px;
}
